<div>
    <h2 mat-dialog-title>Nova locação de filme</h2>
</div>
<div class="table" >
    <div>
        <mat-form-field class="selector" appearance="fill">
            <mat-label>Filmes</mat-label>
            <mat-select  [(ngModel)]="value" (ngModelChange)="checkMovieAvailability()" >
              <mat-option *ngFor="let movie of dataSource" [value]="movie">
                {{movie.titulo}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="message">
            <p *ngIf="!movieAvailable" class="denied">{{holder}}</p>
            <p *ngIf="movieAvailable" class="allowed">{{holder}}</p>
          </div>
    </div>
    <div class="bottom" mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [disabled]="!movieAvailable" (click)="createNewRent()" mat-dialog-close>Ok</button>
    </div>
</div>