<div class="container">
    <div class="header">
        <div class="info">
           <p>Bem vindo!</p>
        </div>
    </div>
    <div class="menu">
        <mat-list>
            <mat-list-item>
                <button mat-button (click)="loginDialog()">
                    <mat-icon>key</mat-icon>
                    Login
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button>
                    <mat-icon>search</mat-icon>
                    Checar disponibilidade
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button>
                    <mat-icon>add</mat-icon>
                    Nova locação
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button>
                    <mat-icon>undo</mat-icon>
                    Devolução
                </button>
            </mat-list-item>
        </mat-list>
    </div>

    <div class="login">

    </div>
</div>