.container { 
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.info {
    border: #fff;
    grid-row: 1;
}

.header{
    margin: 30px 60px 30px 60px;
    display: flex;
    font-size: 24px;
    font-style: bold;
    justify-content: center;
    text-align: center;
}

.menu{
    grid-row: 2 / 2;
    display: flex;
    justify-content: center;
    margin: 14px;
}

.login{
    grid-row: 3 / 3;

}